html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

footer{
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: gray;
}
