.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2.5px solid lightgray;
  margin-bottom: 16px;
}

.linkContainer {
  width: 300px;  
  display: inherit;
  justify-content: normal;
  align-items: flex-end;
}
